.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Delete {
  background: rgb(248, 73, 73);
  border: 1px solid #000;
  color: #fff;
  padding: 5px 10px;
}

.Delete:hover {
  background: rgb(250, 105, 105);
  cursor: pointer;
}

.Edit {
  background: #fff;
  border: 1px solid #000;
  margin: 8px;
  padding: 5px 10px;
}

.Edit:hover {
  background: #eee;
  cursor: pointer;
}