.ThankYou {
  max-width: 800px;
  margin: auto;
  width: 80%;
  text-align: center;
}

a {
  text-decoration: none;
}


.OrderAgainButton {
  background-color: #7fda35;
  border: 1px solid #966909;
  color: #614303;
  display: block;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #966909;
  margin: 15px auto;
  text-decoration: none;
}

.OrderAgainButton:hover {
  background: #91f83c
}

.ViewOrdersButton {
  background-color: #fff;
  border: 1px solid #966909;
  color: #614303;
  display: block;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #966909;
  margin: 15px auto;
  text-decoration: none;
}

.ViewOrdersButton:hover {
  background: #91f83c;
}